/* CSS for logo */
.logo {
    height: 40px; /* Set height of the logo */
    width: 40px; /* Set width of the logo */
    transition: .4s; /* Apply transition effect for smooth scaling */
}

/* Scale logo on hover */
.logo:hover {
    transform: scale(1.3); /* Scale up the logo on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}



/*-----------nav bar ended--------------- */


/*---------Login Part CSS----------*/

/* Styling for wrapper */
.wrapper {
    align-items: center; /* Align items */
    margin-left: 35%; /* Margin from left */
    margin-top: 5%; /* Margin from top */
    position: relative; /* Relative positioning */
    background: transparent; /* Transparent background */
    border: 2px solid rgba(225, 225, 225, .5); /* Border style */
    border-radius: 20px; /* Border radius */
    backdrop-filter: blur(20px); /* Apply blur effect to background */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); /* Box shadow */
    display: none; /* Initially hide the element */
    justify-content: center; /* Align content horizontally */
    overflow: hidden; /* Hide overflowing content */
    /* For cross design */
}

/* Styling for form box */
.wrapper .form-box {
    width: 100%; /* Set width to 100% */
    padding: 40px; /* Padding inside form box */
}

/* Styling for login form */
.wrapper .form-box.login {
    transition: transform .18s ease; /* Apply transition effect */
    transform: translateX(0); /* Move form box horizontally */
}

/* Styling for register form */
.wrapper .form-box.register {
    position: absolute; /* Position absolute */
    transition: none; /* Remove transition effect */
    transform: translateX(400px); /* Move form box horizontally */
}

/* Styling for close icon */
.wrapper .icon-close {
    position: absolute; /* Position absolute */
    top: 0; /* Distance from top */
    right: 0; /* Distance from right */
    width: 45px; /* Width of icon */
    height: 45px; /* Height of icon */
    background: #162938; /* Background color */
    font-size: 2em; /* Font size */
    color: #fff; /* Icon color */
    display: flex; /* Display as flex */
    justify-content: center; /* Align content horizontally */
    align-items: center; /* Align items vertically */
    border-bottom-left-radius: 20px; /* Border radius */
    cursor: pointer; /* Set cursor to pointer */
    z-index: 1; /* Set z-index */
}

/* Styling for heading */
.wrapper h2 {
    font-size: 2em; /* Font size */
    color: #162938; /* Text color */
    text-align: center; /* Align text center */
}

/* Styling for input box */
.input-box {
    position: relative; /* Position relative */
    width: 100%; /* Set width to 100% */
    height: 50px; /* Set height to 50px */
    border-bottom: 2px solid #162938; /* Bottom border */
    margin: 30px 0; /* Margin */
}

/* Styling for input box label */
.input-box label {
    position: absolute; /* Position absolute */
    top: 50%; /* Distance from top */
    left: 5px; /* Distance from left */
    transform: translateY(-50%); /* Adjust vertical alignment */
    font-size: 1em; /* Font size */
    color: #162938; /* Text color */
    font-weight: 500; /* Font weight */
    pointer-events: none; /* Disable pointer events */
    transition: .5s; /* Apply transition effect */
}

/* Styling for input box input */
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px; /* Move label up */
}

/* Styling for input box input */
.input-box input {
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    background: transparent; /* Transparent background */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    font-size: 1em; /* Font size */
    color: #162938; /* Text color */
    font-weight: 600; /* Font weight */
    padding: 0 35px 0 5px; /* Padding */
    /* So that pass/email dont appear on icon */
}

/* Styling for input box icon */
.input-box .icon {
    position: absolute; /* Position absolute */
    right: 8px; /* Distance from right */
    font-size: 1.2em; /* Font size */
    color: #162938; /* Icon color */
    line-height: 57px; /* Line height */
}

/* Styling for remember and forgot section */
.remember-forgot {
    font-size: 0.9em; /* Font size */
    color: #162938; /* Text color */
    font-weight: 500; /* Font weight */
    margin: -15px 0 15px; /* Margin */
    display: flex; /* Display as flex */
    justify-content: space-between; /* Align content horizontally */
}

/* Styling for remember and forgot section label input */
.remember-forgot label input {
    accent-color: #162938; /* Accent color */
    margin-right: 3px; /* Margin right */
}

/* Styling for remember and forgot section link */
.remember-forgot a {
    color: #162938; /* Link color */
    text-decoration: none; /* Remove underline */
    /* forgot password */
}

/* Styling for remember and forgot section link on hover */
.remember-forgot a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Styling for button */
.btn {
    width: 100%; /* Set width to 100% */
    height: 45px; /* Set height to 45px */
    background: #162938 !important; /* Background color */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    border-radius: 6px; /* Border radius */
    cursor: pointer; /* Set cursor to pointer */
    font-size: 1em; /* Font size */
    color: #fff !important; /* Text color */
    font-weight: 500; /* Font weight */
}

/* Styling for login register section */
.login-register {
    font-size: .9em; /* Font size */
    color: #162938; /* Text color */
    text-align: center; /* Align text center */
    font-weight: 500; /* Font weight */
    margin: 25px 0 10px; /* Margin */
}

/* Styling for login register section link */
.login-register p a {
    color: #162938; /* Link color */
    text-decoration: none; /* Remove underline */
    font-weight: 600; /* Font weight */
}

/* Styling for login register section link on hover */
.login-register p a:hover {
    text-decoration: underline; /* Underline on hover */
}


/*---------Login Part CSS ENDED----------*/


/* HOME PAGE CSS */

body {
    background-image: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

#background-video {
    width: 100vw; /* Set width to 100% of the viewport width */
    height: 100vh; /* Set height to 100% of the viewport height */
    object-fit: fill; /* Scale the video to fill its container */
    position: fixed; /* Fix the video position */
    left: 0; /* Align video to the left */
    right: 0; /* Align video to the right */
    top: 100; /* Set the top position */
    bottom: 0; /* Set the bottom position */
    z-index: -1; /* Place the video behind other content */
}

/* Styling for sidebar for smaller screens */

@media all and (max-width: 991px) {
    .sidebar {
        background-color: rgba(225, 225, 225, 0.5); /* Semi-transparent background color */
        backdrop-filter: blur(10px); /* Apply blur effect to the background */
    }
}

/* Styling for form animation */
.wrapper {
    width: 400px; /* Set a fixed width for the wrapper */
    height: 400px; /* Set a fixed height for the wrapper */
    transition: height .2s ease; /* Apply smooth transition effect for height change */
}

.wrapper.active {
    height: 475px; /* Change height when wrapper is active */
}

.wrapper.active .form-box.login {
    transition: none; /* Remove transition for login form when active */
    transform: translateX(-400px); /* Move login form out of the wrapper */
}

.wrapper.active .form-box.register {
    transition: transform .18s ease; /* Apply transition for register form when active */
    transform: translateX(0); /* Move register form into the wrapper */
}


/* Style the video wrapper */
.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Make the video fill the entire wrapper */
video#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure video covers the entire container */
}
