*{
    margin: 0;
    padding: 0;
}

/* body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
} */

.box-s{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 30px;
    align-items: center;
    margin-right: 200px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.box-s:hover .inp-s{
    width: 200px;
}
.box-s .inp-s{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.box-s a .fa{
    /* color: aqua; */
    font-size: 18px;
}
.myHover:hover {
    background-color:lightgray !important;
    color: orangered !important;
    height: 70px;
    transition: 0.3s;
}
.list{
font-size: 1.9rem;
    font-weight: 700 !important;
    line-height: 2rem;
    line-height: 2.9rem;
    color:rgb(0, 1, 14) !important;
}
